body {
  overflow: hidden;
}

button {
  cursor: pointer;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

.sigma-container {
  width: 100dvw;
  height: 100dvh;
}

.search {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.search:has(.search__input:focus-visible) {
  border-color: #666;
  box-shadow: 0 0 0 2px #ccc;
}

.search__input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

.search__input:is(:active, :focus, :focus-visible) {
  outline: none;
}

.search__clear {
  height: 100%;
  aspect-ratio: 1 / 1;
  font-size: 1rem;

  background-position: center;
  background-size: 1.25rem 1.25rem;
  background-repeat: no-repeat;
  /* https://lucide.dev/icons/x */
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>');
}

.search__clear[data-hidden="true"] {
  display: none;
}

select {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.sidebar {
  position: fixed;
  z-index: 10;

  width: 450px;
  height: 100dvh;
  background: white;

  border: 1px solid #ccc;
  transition: transform 0.3s ease;
}

.sidebar--left {
  top: 0;
  left: 0;
  transform: translateX(0);
}

.sidebar--left[data-hidden="true"] {
  transform: translateX(-100%);
}

.sidebar--right {
  top: 0;
  right: 0;
  transform: translateX(0);
}

.sidebar--right[data-hidden="true"] {
  transform: translateX(100%);
}

.sidebar__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  overflow-y: auto;
}

.sidebar__toggle {
  position: absolute;
  width: 2rem;
  height: 2rem;
  z-index: 11;

  border: 1px solid #ccc;

  background-position: center;
  background-size: 1.25rem 1.25rem;
  background-repeat: no-repeat;
  /* https://lucide.dev/icons/search */
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search"><path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/></svg>');
  background-color: white;
}

.sidebar__toggle[aria-expanded="true"] {
  background-size: 1.5rem 1.5rem;
  /* https://lucide.dev/icons/x */
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>');
}

.sidebar__toggle--left {
  top: 1rem;
  right: -2rem;
  border-radius: 0 0.25rem 0.25rem 0;
}
