body {
  overflow: hidden;
}

button {
  cursor: pointer;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

.sigma-container {
  width: 100dvw;
  height: 100dvh;
}

.search {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.search:has(.search__input:focus-visible) {
  border-color: #666;
  box-shadow: 0 0 0 2px #ccc;
}

.search__input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

.search__input:is(:active, :focus, :focus-visible) {
  outline: none;
}

.search__clear {
  height: 100%;
  aspect-ratio: 1 / 1;
  font-size: 1rem;

  background-position: center;
  background-size: 1.25rem 1.25rem;
  background-repeat: no-repeat;
  /* https://lucide.dev/icons/x */
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>');
}

.search__clear[data-hidden="true"] {
  display: none;
}

.search-suggestions {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  height: 100%;
  overflow-y: auto;
}

select {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.sidebar {
  position: fixed;
  z-index: 10;

  width: 450px;
  height: 100dvh;
  background: white;

  transition: transform 0.3s ease;
  transform: translateX(0);
}

.sidebar--left {
  top: 0;
  left: 0;
  border-right: 1px solid #ccc;
}

.sidebar--left[data-hidden="true"] {
  transform: translateX(-100%);
}

.sidebar--right {
  top: 0;
  right: 0;
  border-left: 1px solid #ccc;
}

.sidebar--right[data-hidden="true"] {
  transform: translateX(100%);
}

.sidebar__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  overflow-y: auto;
}

.sidebar__toggle {
  position: absolute;
  width: 2rem;
  height: 2rem;
  z-index: 11;

  border: 1px solid #ccc;

  background-position: center;
  background-size: 1.25rem 1.25rem;
  background-repeat: no-repeat;
  /* https://lucide.dev/icons/search */
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search"><path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/></svg>');
  background-color: white;
}

.sidebar__toggle[aria-expanded="true"] {
  background-size: 1.5rem 1.5rem;
  /* https://lucide.dev/icons/x */
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>');
}

.sidebar__toggle--left {
  top: 1rem;
  right: -2rem;
  border-radius: 0 0.25rem 0.25rem 0;
}

.sidebar__table-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* https://www.30secondsofcode.org/css/s/hover-underline-animation/ */
.sidebar__table-title a {
  display: inline-block;
  position: relative;
}

.sidebar__table-title a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 0.125rem;
  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.sidebar__table-title a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.sidebar__table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.sidebar__table th,
.sidebar__table td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  vertical-align: top;
}

.sidebar__table-key {
  font-weight: bold;
  width: 30%;
  text-align: end;
}

.sidebar__table code {
  display: block;

  white-space: nowrap;
  width: 100%;
  overflow: auto;

  padding-inline: 0.25rem;
  border-radius: 0.25rem;
  background: #f5f5f5;
}

.sidebar__table li:not(:last-child) {
  margin-bottom: 0.5rem;
}
